.contenedorBusqueda {
    width: 370px;
    min-height: max-content;
    border-radius: 6px;
    background-color: #fefefe;
    padding: 5px 0;
}

.botones {
    display: flex;
    align-items: center;
    padding: 20px auto;
    height: 50px;
}

.opcion {
    text-align: center;
    padding: 50px auto;
    background-color: transparent;
    border: none;
}

.boton {
    width: 50%;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    background-color: transparent;;
}

.selected {
    border-bottom: 2px solid #00b4b4;
}

.content {
    background-color: #F4F5F7;
}