.main {
  background-color: #f53f23;
  background-image: url('https://multimedia-epayco.s3.amazonaws.com/dashboard/recaudo/proyecto/imagenes/plantilla_1.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
}

@media(max-width: 870px) {
  .main {
    /* min-height: max-content; */
  }
}